<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список заказов</title>
</head>
<body>
<h1>Список заказов</h1>

<!-- Форма для добавления нового заказа -->
<form action="/orders/add" method="post" th:object="${order}">
    <label for="studentId">Выберите студента:</label>
    <select id="studentId" name="studentId" required>
        <option value="" disabled selected>Выберите студента</option>
        <th:block th:each="student : ${students}">
            <option th:value="${student.id}" th:text="${student.firstName} + ' ' + ${student.lastName}"></option>
        </th:block>
    </select>

    <input type="text" name="orderNumber" placeholder="Номер заказа" th:field="*{orderNumber}" required>
    <input type="number" name="totalAmount" placeholder="Сумма заказа" th:field="*{totalAmount}" required min="0">

    <button type="submit">Добавить заказ</button>
</form>

<h2>Все заказы:</h2>
<ul>
    <th:block th:each="order : ${orders}">
        <li>
            <strong>Заказ №:</strong>
            <span th:text="${order.orderNumber}"></span>,
            <strong>Студент:</strong>
            <span th:text="${order.student.firstName} + ' ' + ${order.student.lastName}"></span>,
            <strong>Сумма:</strong>
            <span th:text="${order.totalAmount}"></span>

            <!-- Форма для обновления заказа -->
            Обновить:
            <form action="/orders/update" method="post" style="display:inline;">
                <input type="hidden" name="id" th:value="${order.id}"/>
                <label for="studentUpdate">Выберите студента:</label>
                <select id="studentUpdate" name="studentId" required>
                    <option value="" disabled selected>Выберите студента</option>
                    <th:block th:each="student : ${students}">
                        <option th:value="${student.id}"
                                th:text="${student.firstName} + ' ' + ${student.lastName}"
                                th:selected="${order.student.id == student.id}"></option> <!-- Выбор текущего студента -->
                    </th:block>
                </select>
                Номер заказа:
                <input type="text" name="orderNumber" th:value="${order.orderNumber}" required />
                Сумма:
                <input type="number" name="totalAmount" th:value="${order.totalAmount}" required min="0"/>

                <button type="submit">Обновить</button>
            </form>

            <!-- Форма для удаления заказа -->
            Удалить:
            <form action="/orders/delete" method="post" style="display:inline;">
                <input type="hidden" name="id" th:value="${order.id}"/>
                <button type="submit">Удалить</button>
            </form>
        </li>
    </th:block>
</ul>

<a href="/students/all">Студенты</a><br/>
<a href="/profiles/all">Профили</a><br/>
<a href="/products/all">Продукты</a><br/>

</body>
</html>